<%- include('partials/header-loggedin') -%>

<section class="container">
    <div class="current-trip">
        <div>
            <a href="">Packing List</a>
        </div>
        <div>
            <a href="">Documents</a>
        </div>
        <div>
            <a href="">Places of Interest</a>
        </div>
    </div>
</section>

<%- include('partials/footer') -%>