<%- include('partials/header-profile') -%>
<div class="container">
  <div>
    <p>Welcome, <%= user.userName %>!</p>
  </div>
  <div>
    <p>Please select your journey!</p>
  </div>
  <div class="profile-choosepath">
    <div>
      <a href="/tripbuilder">Trip Builder</a>
    </div>
    <div>
      <a href="/currenttrip">Current Trip</a>
    </div>
    <div>
      <a href="/completedtrips">Completed Trips</a>
    </div>
    <div>
      <a href="/reference">Quick Reference/ Travel Tips</a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>