<%- include('partials/header-loggedin') -%>

<section class="container">
    <div class="build-trips">
        <div>
            <a href="">Saved Trips</a>
        </div>
        <div>
            <a href="">New Trip</a>
        </div>
    </div>
</section>

<%- include('partials/footer') -%>